body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(42, 42, 42);
  overflow-x: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #222222;
}

body::-webkit-scrollbar
{
	width: 8px;
	background-color: #222222;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

p{
  margin: 0;
}

.header {
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
}
.header h1{
  color: #fafafa;
}

.cart {
  display: flex;
  align-items: center;
  background-color: rgb(105, 27, 27);
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;
}
.cart h2{
  color: white;
  font-size: 18px;
  padding: 0 10px;
}
.cart span{
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.main {
  background-image: url('./img/food.png');
  background-size: 100vw;
  background-repeat: no-repeat;
  background-color: rgb(42, 42, 42);
  padding-top: 150px;
  filter: grayscale(30%);
}

.message-box{
  background-color: rgb(70, 70, 70);
  color: white;
  width: 600px;
  padding: 10px;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.message-box h2 {
  text-align: center;
}
.message-box p{
  text-align: center;
}

.items-list{
  background-color: whitesmoke;
  border-radius: 20px;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.items-list h2{
  text-align: center;
}


.item{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(194, 194, 194);
  justify-content: space-between;
}
.item-description-container{
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
b:nth-child(3){
  color: brown;
}
.item-order-container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-order-container input {
  width: 30px;
}
.item-order-container label{
  font-weight: bold;
}
.item-order-container button {
  font-weight: bold;
  border: none;
  background-color: brown;
  color: white;
  border-radius: 10px;
  padding: 5px 20px;
  margin-top: 10px;
  cursor: pointer;
}
.item-order-container button:hover{
  background-color: rgb(187, 92, 68);
}

.items-list div:last-child {
  border-bottom: none;
}

.modal-content{
  overflow-y: scroll;
  padding: 30px;
  width: 600px;
  max-height: 400px;
  min-height: 200px;
  border-radius: 20px;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 100px;
  margin-left: calc(50vw - 315px);
  z-index: 2;
}
.modal-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #222222;
}

.modal-content::-webkit-scrollbar
{
	width: 8px;
	background-color: #222222;
}

.modal-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.modal-backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.678);
}

.modal-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.modal-item-count i{
  padding: 2px 5px;
  border: 1px solid gray;
  background-color: rgb(221, 221, 221);
  margin-right: 20px;
  border-radius: 5px;
}

.modal-item-names{
  display: flex;
  flex-direction: column;
}
.modal-item-names b:nth-child(2){
  color: brown;
}

.total-price{
  border-top: 1px solid gray;
}